body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    color: #fff;
}

.anav {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #111;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
}

li {
    margin-right: 20px;
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2,
.banner p {
    color: #333;
    text-align: center;
}

.content {
    padding: 10px 0;
}

article {
    margin-bottom: 50px;
}

article h2 {
    margin-bottom: 10px;
}

article p {
    margin-bottom: 20px;
}

article a {
    color: #333;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 10px;
    text-align: center;
}