<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Meu header</title>
    <link rel="stylesheet" type="text/css" href="header.css">
</head>

<body>
    <header>
        <img src="../assets/images/logo-white.png" width="64" height="64">
        <nav>
            <ul>
                <li><a class="anav" href="../index.html">Home</a></li>
                <li><a class="anav" href="/pages/sobre.html">Sobre</a></li>
                <li><a class="anav" href="#">Contato</a></li>
                <li><a class="anav" href="#">Serviços</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>